.AddProfile_Image_wrapper {
  width: 500px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  max-height: calc(100vh - 50px);
}
.CreatePost_header {
  position: relative;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #dddfe2 1px solid;
  font-size: 25px;
  font-weight: 700;
}
.close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e6eb;
  position: absolute;
  right: 15px;
}
.close img {
  width: 30px;
  height: 30px;
}
.image_picker {
  width: 100%;
  height: 50px;
  opacity: 0;
}
.file_picker_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;

  cursor: pointer;
  padding: 15px;
  margin: 0 auto;
  background-color: #e7f3ff;
  border: none;
  border-radius: 10px;
  color: #1877f2;
  font-size: 20px;
  font-weight: 700;
}
.file_picker_btn:hover {
  background-color: hwb(209 84% 1%);
}
.image_btn_wrapper {
  padding: 15px;
}
.image_btn_Innerwrapper {
  position: relative;
}
.add_icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/pj9BUYVLQio.png");
  background-position: 0px -1754px;
  background-size: 26px 1886px;
  width: 16px;
  height: 16px;
  transform: scale(1.7);
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-filter: invert(39%) sepia(57%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)
    hue-rotate(202deg) brightness(97%) contrast(96%);
}

.img_previewWrapper {
  width: calc(100% - 30px);
  height: 400px;
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 20px;
}
.img_preview {
  width: 100%;
  /* height: 700px; */
}
.upload_profile_img {
  display: flex;
  justify-content: right;
  padding: 20px;
  margin-top: 20px;
  border-top: #dddfe2 1px solid;
}
.cancel_upload {
  background-color: transparent;
  border: none;
  font-size: 17px;
  padding: 10px;
  font-weight: 600;
  color: #1877f2;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 7px;
}
.cancel_upload:hover {
  background-color: #dddfe2;
}
.upload_btn {
  background-color: #1877f2;
  font-size: 17px;
  font-weight: 600;
  color: white;
  width: 120px;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.upload_btn:hover {
  background-color: #6096dd;
}
