.Stories {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  height: 250px;
  width: 100%;
}
.createStory_wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: lightgray;
  border-radius: 15px;
  overflow: hidden;
}
.footer_wrapper {
  position: relative;
  padding-bottom: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
  font-size: 15px;
  width: 100%;
  background-color: white;
}
.addWrapper {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: white;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.svg_asset {
  width: 30px;
  fill: white;
}
.add_innerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #1b74e4;
  border-radius: 50%;
}
