.AuthPage {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f0f2f5;
}
.left_wrapper {
  text-align: left;
  width: calc(60% - 50px);
  height: 100%;
}
.right_wrapper {
  width: 40%;
  height: 100%;
}

.logo {
  font-size: 52px;
  color: #1b74e4;
  margin-bottom: 10px;
}
.slogan {
  color: #1c1e21;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}

.signIn_input {
  width: 100%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
}
.input_item {
  width: 100%;
  margin-bottom: 15px;
}

.password,
.email_address {
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  height: 48px;
  border: 1px solid #dddfe2;
  font-size: 16px;
}
.innerWrapper {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.LogIn_btn {
  width: 100%;
  height: 50px;
  background-color: #1b74e4;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
}
.fogort_password {
  margin-top: 20px;
  color: #1b74e4;
}
.createAccount_wrapper {
  width: 100%;
  margin-top: 20px;
  border-top: #dddfe2 1px solid;
  height: 100px;
  padding-top: 30px;
}
.createAccount_btn {
  border-radius: 5px;
  background-color: #42b72a;
  height: 48px;
  color: white;
  border: none;
  font-size: 17px;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 600;
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #737373;
}
