.Chat_item {
  width: 100%;
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.Chat_item:hover {
  background-color: #ecf3ff;
}
.chat_info {
  text-align: left;
}
.user_profile {
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 50%;
  margin-right: 10px;
}
.username {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
.message_text {
  color: #65676b;
}
.user_profile_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
