.User_profile {
  width: 100%;
  padding-bottom: 50px;
  height: auto;
  background-color: #f0f2f5;
}
.header_bar {
  width: 100%;
  background-color: white;
  padding: 0 90px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.cover_wrapper {
  background-color: #f0f2f5;
  width: 100%;
  height: 500px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.profile_wrapper {
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_innerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 65px;
}
.userImg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: white;
  top: -130px;
}
.userImg img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
}
.userName {
  margin-left: 220px;
  font-size: 40px;
  font-weight: 700;
}
.messanger,
.add_friend {
  padding: 15px 0;
  width: 125px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}
.add_friend {
  background-color: #e4e6eb;
}
.messanger {
  background-color: #1b74e4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  width: 20px;
  fill: white;
  margin-right: 7px;
}
.btns_wrapper {
  display: flex;
}
.friends {
  margin-right: 5px;
}
.add_friend {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links_wrapper {
  display: flex;
  list-style: none;
  height: 70px;

  margin: 0;
  padding: 0;
  border-top: #ccced2 solid 1px;
}
.nav_bar {
  padding: 0 20px;
  box-sizing: border-box;
}
.nav_item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-right: 10px;
  font-size: 20px;
  box-sizing: border-box;
  font-weight: 600;
  color: #65676b;
  border-bottom: white solid 3px;
  border-top: white solid 3px;
  cursor: pointer;
  border-radius: 7px;
}
.active {
  border-bottom: #1b74e4 solid 3px;
  color: #1b74e4;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.nav_item:hover {
  background-color: #dddddd;
}
.nav_item:last-child {
  margin-right: 0;
}
.main {
  display: flex;
  margin-top: 20px;
  width: calc(100% - 220px);
}
.main_wrapper {
  display: flex;
  justify-content: center;
}
.left_wrapper {
  width: 40%;
  height: 100%;
}
.right_wrapper {
  width: calc(60% - 20px);
  height: 100%;
  border-radius: 15px;
  margin-left: 20px;
}
