.User_profile {
  width: 100%;
  padding-bottom: 50px;
  height: auto;
  background-color: #f0f2f5;
}
.header_bar {
  width: 100%;
  background-color: white;
  padding: 0 90px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.cover_wrapper {
  background-color: #f0f2f5;
  width: 100%;
  height: 500px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.profile_wrapper {
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_innerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 65px;
}
.userImg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: white;
  top: -130px;
}
.userImg img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
}
.userName {
  margin-left: 220px;
  font-size: 40px;
  font-weight: 700;
}
.messanger,
.add_friend,
.addToStory_btn,
.editProfile_btn {
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.messanger {
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.addToStory_btn,
.active_btn {
  background-color: #1b74e4;
  color: white;
  cursor: pointer;
}
.active_btn img {
  -webkit-filter: invert(100%);
}
.inactive_btn:disabled {
  background-color: #e4e6eb;
  color: #1d1f23;
  cursor: not-allowed;
}
.inactive_btn svg {
  -webkit-filter: invert(100%);
}
.message {
  width: 20px;
  fill: white;
  margin-right: 7px;
}
.btns_wrapper {
  display: flex;
}
.friends {
  margin-right: 5px;
}
.add_friend {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.links_wrapper {
  display: flex;
  list-style: none;
  height: 70px;

  margin: 0;
  padding: 0;
  border-top: #ccced2 solid 1px;
}
.nav_bar {
  padding: 0 20px;
  box-sizing: border-box;
}
.nav_item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  margin-right: 10px;
  font-size: 20px;
  box-sizing: border-box;
  font-weight: 600;
  color: #65676b;
  border-bottom: white solid 3px;
  border-top: white solid 3px;
  cursor: pointer;
  border-radius: 7px;
}
.active {
  border-bottom: #1b74e4 solid 3px;
  color: #1b74e4;
  background-color: transparent !important;
  border-radius: 0 !important;
}
.nav_item:hover {
  background-color: #dddddd;
}
.nav_item:last-child {
  margin-right: 0;
}
.main {
  display: flex;
  margin-top: 20px;
  width: calc(100% - 220px);
}
.main_wrapper {
  display: flex;
  justify-content: center;
}
.left_wrapper {
  width: 40%;
  height: 100%;
}
.right_wrapper {
  width: calc(60% - 20px);
  height: 100%;
  border-radius: 15px;
  margin-left: 20px;
}
.addImage_icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/pj9BUYVLQio.png");
  background-position: 0px -538px;
  background-size: 26px 1886px;
  width: 20px;
  height: 20px;
  transform: scale(1.3);
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-filter: invert(8%) sepia(10%) saturate(200%) saturate(200%)
    saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
}
.addImage_wrapper {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  cursor: pointer;
}
.editProfile_btn,
.addToStory_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.addToStory_btn img {
  -webkit-filter: invert(100%);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.editProfile_btn img {
  -webkit-filter: invert(8%) sepia(10%) saturate(200%) saturate(200%)
    saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.editProfile_btn {
  color: #1d1f23;
}
