.Home {
  width: 100%;
  background-color: #f0f2f5;
  box-sizing: border-box;
}
.gutter {
  width: 100%;
  height: 70px;
}
.Home_innerWrapper {
  position: relative;
  display: flex;
  margin-top: 30px;
}
.main {
  width: 75%;
  padding: 0 100px 50px 100px;
}
.taskbar {
  width: 25%;
}
.feed {
  display: block;
  width: calc(100% - 200px);
  margin: 30px auto 0 auto;
}
.noMore_posts {
  width: 100%;
  height: 200px;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}
.findFriends_btn {
  padding: 10px;
  background-color: #1b74e4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}
.Notice {
  margin-bottom: 10px;
  color: #65676b;
  font-size: 30px;
  font-weight: 700;
}
.CTA {
  color: #65676b;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 20px;
}
.taskbar {
  position: fixed;
  right: 0;
  /* background-color: #1b74e4; */
  height: calc(100vh - 70px);
}
.contacts .title {
  color: #65676b;
  text-align: start;
  font-size: 22px;
  font-weight: 600;
}
.contacts_items {
  margin-top: 10px;
}
.active_contact_item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.contact_profile_wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #65676b;
  border-radius: 50%;
}
.online {
  width: 12px;
  height: 12px;
  position: absolute;
  border: 2px white solid;
  background-color: #31a24c;
  bottom: 0px;
  right: -5px;
  z-index: 500;
  border-radius: 50px;
}
.contact_profile_wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
.contact_fullname {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #050505;
}
