.Home {
  width: 100%;
  background-color: #f0f2f5;
  box-sizing: border-box;
}
.gutter {
  width: 100%;
  height: 70px;
}
.Home_innerWrapper {
  display: flex;
  margin-top: 30px;
}
.main {
  width: 75%;
  padding: 0 100px;
}
.taskbar {
  width: 25%;
}
.feed {
  display: block;
  width: calc(100% - 100px);
  margin: 30px auto 0 auto;
}
