.Navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 1200;
}
.search_btn {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}
.search_btn img {
  width: 20px;
  height: 20px;
}
.first_column {
  display: flex;
}
.second_column {
  display: flex;
  list-style: none;
  height: 100%;
}

.third_column {
  display: flex;
  list-style: none;
}

.nav_item {
  margin-right: 10px;
  padding: 0 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}
.nav_item:last-child {
  margin-right: 0;
}
.column_item,
.profile,
.notification,
.messenger {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #e4e6eb;
  border: none;
  cursor: pointer;
}

.messenger_link {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #e4e6eb;
}

.third_column:last-child {
  margin-right: 0;
}
.g28tu32o {
  color: #65676b;
}
.active {
  border-bottom: #1b74e4 solid 3px;
}
.active .g28tu32o {
  color: #1b74e4;
}
.profile img {
  width: 100%;
}
.profile {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.summary {
  position: absolute;
  top: 0px;
  right: 2px;
  background-color: #e41e3f;
  width: 22px;
  height: 22px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 50%;
}

.third_column_item {
  position: relative;
}
.userPopup_wrapper {
  position: absolute;
  right: 0;
  width: 400px;
  padding: 15px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.userprofile_wrapper {
  width: calc(100% - 20px);
  margin: 0 auto;
  border-radius: 12px;
  padding: 7px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}
.user_profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.username {
  font-size: 20px;
  font-weight: 600;
}
.inner_userprofile_wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 12px;
}
.inner_userprofile_wrapper:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.logout_icon {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yW/r/YBE_1_nu88W.png);
  background-position: 0px -60px;
  background-size: 40px 205px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  display: inline-block;
}
.logout_optionWrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-radius: 12px;
}
.logout_optionWrapper:hover {
  background-color: #f2f2f2;
}

.logout_icon_wrapper {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e4e6eb;
  border-radius: 50%;
  margin-right: 10px;
}
.logout_txt {
  font-size: 20px;
  font-weight: 600;
}
.notifications_wrapper {
  width: 100%;
  height: 400px;
  text-align: start;
  overflow-y: scroll;
}

.notifications_wrapper::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.notifications_wrapper::-webkit-scrollbar {
  width: 17px;
  background-color: #f5f5f5;
}

.notifications_wrapper::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
  border: 4px solid transparent;
  width: 17px;
  border-radius: 8px;
  background-clip: padding-box;
}

.notificationPop_upWrapper {
  padding-right: 0;
}

.notifications_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}
.title {
  font-size: 30px;
  font-weight: 700;
}
.userImg_wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #f2f2f2;
  border-radius: 50%;
  margin-right: 10px;
}
.userImg_wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.msg_icon {
  height: 28px;
  width: 28px;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/f4hEiaDqBpD.png?_nc_eui2=AeEKMJ9VBjDauqBYZ_9VDT-Mx2hgID-dW2nHaGAgP51baZDwcFCwTXcXqPAPLF3L6_O2ShKBT4pRYIJWsZKT5fJs");
  background-position: 0px -750px;
  background-size: 30px 1890px;
  background-repeat: no-repeat;
  display: inline-block;
}
.like_icon {
  width: 100%;
}
.notification_item {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
}
.notification_item:hover {
  background-color: #f2f2f2;
}
.notification_info_outer_wrapper {
  width: calc(100% - 80px);
}

.no_notifications_wrapper {
  width: 200;
  height: 200px;
  margin-top: 30px;
}
.no_notifications_wrapper video {
  width: 100%;
  height: 100%;
}
.message {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  color: #65676b;
}
.num_of_notifications {
  position: absolute;
  background-color: #e41e3f;
  color: white;
  border-radius: 50%;
  font-weight: 600;
}
.LoadingSpinner_wrapper {
  width: 100px;
  height: 100px;
}
.LoadingSpinner_outerWrapper {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
