.Navigation {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  z-index: 1500;
}
.search_btn {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}
.search_btn img {
  width: 20px;
  height: 20px;
}
.first_column {
  display: flex;
}
.second_column {
  display: flex;
  list-style: none;
  height: 100%;
}

.third_column {
  display: flex;
  list-style: none;
}

.nav_item {
  margin-right: 10px;
  padding: 0 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}
.nav_item:last-child {
  margin-right: 0;
}
.profile,
.notification,
.messenger {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #e4e6eb;
  border: none;
}
.third_column:last-child {
  margin-right: 0;
}
.g28tu32o {
  color: #65676b;
}
.active {
  border-bottom: #1b74e4 solid 3px;
}
.active .g28tu32o {
  color: #1b74e4;
}
.profile img {
  width: 120%;
  height: 100%;
}
.profile {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.summary {
  position: absolute;
  top: 0px;
  right: 2px;
  background-color: #e41e3f;
  width: 22px;
  height: 22px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 50%;
}

.third_column_item {
  position: relative;
}
