.profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
}
.WhatsOnYourMind {
  display: block;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 0 20px;
}
.user_input {
  width: calc(100% - 30px);
  background-color: #f0f2f5;
  color: #65676b;
  border-radius: 100px;
  cursor: pointer;
  padding-left: 10px;
}
.user_input span {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.user_input:hover {
  background-color: #e6e9ec;
}
.wrapper {
  display: flex;
  align-items: center;
  padding: 0;
  height: 100px;
}
.post_options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  height: 50px;
  border-top: 3px #f0f2f5 solid;
  padding: 10px 0;
}
.post_option {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  color: #65676b;
}
.post_option:hover {
  background-color: #f0f2f5;
}
.Media,
.Feeling,
.live_video {
  font-size: 30px;
  margin-right: 10px;
}
.Feeling {
  color: #f7b928;
}
.live_video {
  color: #f3425f;
}
.Media {
  color: #45bd62;
}
