.Post {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px;
}
.Post:first-child {
  margin-top: 0;
}
.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.profile {
  width: 150%;
  height: 100%;
}
.name_wrapper {
  margin-left: 20px;
  text-align: left;
}
.profile_wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  overflow: hidden;
}
.user_name {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.time {
  color: #65676b;
}
.image_wrapper {
  width: 100%;
}
.image_wrapper img {
  width: 100%;
}
.post_toolbar {
  width: 100%;
  background-color: white;
  padding: 5px 20px;
  box-sizing: border-box;
}
.like {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/YnBe7QFb2jR.png?_nc_eui2=AeESxVsbUKq-7urpxHmkQrc7tCPH_G7guai0I8f8buC5qLDEivUyqMQ5iUbLqvgls6kWPZ0LXonTJbaCiJ0nz0lx);
  background-position: 0px -332px;
  background-size: 26px 884px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}
.comment {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/YnBe7QFb2jR.png?_nc_eui2=AeESxVsbUKq-7urpxHmkQrc7tCPH_G7guai0I8f8buC5qLDEivUyqMQ5iUbLqvgls6kWPZ0LXonTJbaCiJ0nz0lx");
  background-position: 0px -292px;
  background-size: 26px 884px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}
.share {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/YnBe7QFb2jR.png?_nc_eui2=AeESxVsbUKq-7urpxHmkQrc7tCPH_G7guai0I8f8buC5qLDEivUyqMQ5iUbLqvgls6kWPZ0LXonTJbaCiJ0nz0lx");
  background-position: 0px -352px;
  background-size: 26px 884px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}
.inner_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.like_btn,
.comment_btn,
.share_btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #65676b;
  cursor: pointer;
}
.like_btn:hover {
  background-color: #dddddd;
}
.comment_btn:hover {
  background-color: #dddddd;
}
.share_btn:hover {
  background-color: #dddddd;
}
.text_wrapper {
  font-size: 22px;
  text-align: left;
  line-height: 1.5;
  padding: 0 20px;
}
.comment_wrapper {
  width: 100%;
  background-color: white;
  padding: 0 20px;
  box-sizing: border-box;
}
.comment_innerWrapper {
  border-top: #e5e5e5 1.5px solid;
  width: 100%;
  padding: 10px 0;
  display: flex;
}
.userProfile_wrapper {
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.comment_input {
  width: calc(100% - 50px);
  border-radius: 100px;
  border: none;
  background-color: #f0f2f5;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
}
.comment_input:focus {
  border: none;
  outline: none;
}
.userProfile_wrapper img {
  width: 110%;
  height: 110%;
}
.caption_wrapper {
  padding: 0 20px 20px 20px;
  text-align: left;
  font-size: 20px;
  color: #050505;
}
.online {
  width: 12px;
  height: 12px;
  position: absolute;
  border: 3px white solid;
  background-color: #31a24c;
  bottom: 0px;
  right: -5px;
  z-index: 500;
  border-radius: 50px;
}
.outer_wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.video_wrapper {
  width: 100%;
}

.video_wrapper video {
  width: 100%;
}
