.Post {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
}
.post_header {
  display: flex;
  align-items: center;
  padding: 20px;
}
.profile {
  width: 150%;
  height: 100%;
}
.name_wrapper {
  margin-left: 20px;
  text-align: left;
}
.profile_wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  overflow: hidden;
}
.user_name {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.time {
  color: #65676b;
}
.image_wrapper {
  width: 100%;
}
.image_wrapper img {
  width: 100%;
}
.post_toolbar {
  width: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}
.like {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/YnBe7QFb2jR.png?_nc_eui2=AeESxVsbUKq-7urpxHmkQrc7tCPH_G7guai0I8f8buC5qLDEivUyqMQ5iUbLqvgls6kWPZ0LXonTJbaCiJ0nz0lx);
  background-position: 0px -332px;
  background-size: 26px 884px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}
.comment {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/YnBe7QFb2jR.png?_nc_eui2=AeESxVsbUKq-7urpxHmkQrc7tCPH_G7guai0I8f8buC5qLDEivUyqMQ5iUbLqvgls6kWPZ0LXonTJbaCiJ0nz0lx");
  background-position: 0px -292px;
  background-size: 26px 884px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}
.share {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/YnBe7QFb2jR.png?_nc_eui2=AeESxVsbUKq-7urpxHmkQrc7tCPH_G7guai0I8f8buC5qLDEivUyqMQ5iUbLqvgls6kWPZ0LXonTJbaCiJ0nz0lx");
  background-position: 0px -352px;
  background-size: 26px 884px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10px;
}
.inner_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.like_btn,
.comment_btn,
.share_btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #65676b;
}
