.Story {
  position: relative;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.profile {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: #1b74e4 solid 5px;
}
.name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
