.CreatePost {
  width: 600px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.CreatePost_header {
  position: relative;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #dddfe2 1px solid;
  font-size: 25px;
  font-weight: 700;
}
.close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e6eb;
  position: absolute;
  right: 15px;
}
.close img {
  width: 30px;
  height: 30px;
}
.profile_wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}
.profile_wrapper img {
  width: 100%;
}
.user_wrapper {
  display: flex;
}
.CreatePost_form {
  padding: 15px;
}
.user_name {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}
.visibility_marker {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddfe2;
  border-radius: 7px;
  padding: 2px 5px;
  width: 60px;
  font-size: 15px;
  font-weight: 600;
}
.text_input {
  width: 100%;
  margin-top: 15px;
  font-size: 25px;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  resize: none;
  overflow-y: auto;
  height: 200px;
}
.text_input:focus {
  border: none;
  outline: none;
}
.text_input::-webkit-input-placeholder {
  color: #65676b;
}

.text_input:-moz-placeholder {
  /* Firefox 18- */
  color: #65676b;
}

.text_input::-moz-placeholder {
  /* Firefox 19+ */
  color: #65676b;
}

.text_input:-ms-input-placeholder {
  color: #65676b;
}

.text_input::placeholder {
  color: #65676b;
}
.addToYourPost {
  display: flex;

  justify-content: space-between;
  height: 70px;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  border: 1px solid #dddfe2;
  margin-top: 20px;
}
.commad {
  font-size: 20px;
  font-weight: 600;
}
.post_btn {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background-color: #1b74e4;
  margin-top: 20px;
  cursor: pointer;
}
.post_btn:focus {
  outline: none;
}
.Media {
  width: 30px;

  color: #45bd62;
}
.media_wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.descriptor {
  display: none;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.7);
}
.media_wrapper:hover {
  background-color: #dddfe2;
}
.media_wrapper:hover .descriptor {
  display: block;
}
.post_btn:disabled {
  background-color: #e4e6eb;
  color: #bcc0c4;
  cursor: not-allowed;
}
.emoji_pickerWrapper {
  position: relative;
  display: flex;
  justify-content: end;
}
.emoji_picker {
  position: absolute;
  transform: translateY(-110%);
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    inset 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.show_emoji {
  height: 24px;
  width: 24px;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/DqLo_-4rkyw.png?_nc_eui2=AeFLC7pSrRgABY2DTngfxxhXumekpjsbDHq6Z6SmOxsMert5P6uFpEv2go7NvNnxih9p_AObn5-6dnZUmg3jyu1O");
  background-position: 0px -34px;
  background-size: 34px 294px;
  background-repeat: no-repeat;
  display: inline-block;
  transform: scale(1.2);
  transition: 0.4s all;
}
.show_emoji:hover {
  transform: scale(1);
}
.chooseImoji {
  cursor: pointer;
}
.emojiPicker_descriptor {
  display: none;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.7);
}
.emoji_pickerWrapper:hover .emojiPicker_descriptor {
  display: block;
}
